<h4> List of students </h4>

<%= form_tag student_list_path, method: :get do%>
    <%= select_tag :filter, options_for_select([["All students", nil], ["Active students", "active"], ["Susupended students", "suspended"]], params[:filter])%>
    <%= submit_tag "Filer"%>
<%end%>

<table class="table">
    <thead class="table">
        <tr>
            <th>
                <%= link_to "Id", :sort => "id", direction: params[:sort]=="id" && params[:direction]=="asc" ? "desc" : "asc"%>
            </th>
            <th>
                <%= link_to "First Name", :sort => "first_name", direction: params[:sort]=="first_name" && params[:direction]=="asc" ? "desc" : "asc"%>
            </th>
            <th>
                <%= link_to "Last Name", :sort => "last_name", direction: params[:sort]=="last_name" && params[:direction]=="asc" ? "desc" : "asc"%>
            </th>
            <th>
                <%= link_to "Email", :sort => "email", direction: params[:sort]=="email" && params[:direction]=="asc" ? "desc" : "asc"%>
            </th>
            <th>
                <%= link_to "Status", :sort => "status", direction: params[:sort]=="status" && params[:direction]=="asc" ? "desc" : "asc"%>
            </th>
        </tr>
        <% @student.each do |student| %>
            <tr>
                <td>
                    <%= student.id%>
                </td>
                <td>
                    <%= student.first_name%>
                </td>
                <td>
                    <%= student.last_name%>
                </td>
                <td>
                    <%= student.email%>
                </td>
                <td>
                    <%= student.status%>
                </td>
            </tr>
        <%end%>
    </thead>
</table>
<%= will_paginate @student%>