<%= render "devise/shared/header" %>
<br>

<%if user_signed_in?%>
  <div> Welcome <%= current_user.email%> </div>
  <%= button_to destroy_user_session_path, method: :delete, class: 'btn btn-dark' do %>
    <i class="fas fa-sign-out-alt"></i> Sign out
  <% end %>
  <%= link_to "Update Avatar", edit_avatar_path(current_user.id) %>
  <%= link_to "Update personal data", edit_profile_path(current_user.id) %>
  <%= link_to "Create Book", new_book_path %>
  <%if current_user.librarian?%>
    <%= link_to "Student List", student_list_path %>
    <%= link_to "Add Student", new_student_path %>
    <%= link_to "Active Students", students_active_path %>
    <%= link_to "Suspended Students", student_suspended_path %>
    <%= link_to "List of books", book_list_path %>
    <%= link_to "tag", new_tag_path %>
    <%= link_to "list of tag", tags_path %>
    <%end%>

<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Librarian login", new_user_session_path %>
  <%= link_to "Student login", student_sign_in_path %>
<%end%>
<h1>Virat Kohli<!h1>