%h1= @book.name
%ul
  %li= "Id: #{@book.id}"
  <%user=User.where(:id=>@book.user_id)%>
  %li= "Author Name: #{user.first.first_name} #{user.first.last_name}"
  %li= "Creation Date: #{@book.creation_date}"
  %li= "Likes: #{@book.likes}"
  %li= "Number of Copies: #{@book.number_of_copy}"
%h2 Description:
%p= @book.description

= link_to 'Back to List of Books', books_path

<h1> <%= @book.name%></h1>
<ul>
<li>
<%= "Id: #{@book.id}" %>
</li>
  <li>
    <%= "Creation Date: #{@book.created_at}" %>
  </li>
  <li>
    <%= "Likes: #{@book.likes}"
 %>
  </li>
  <li>
    <%= "Number of Copies: #{@book.number_of_copy}"
 %>
  </li>
</ul>
<h2>Description:
</h2>
<p>
  <%= @book.description %>
</p>
<%= button_to "Issue", book_issue_path(@book), method: :post%>
